body{
    background: #000;
    color: #fff;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    font-weight: bold;
    color: aliceblue;
}

@media (max-width: 576px) {
    .title {
        font-size: 78px;
    }
}

.navbar-nav .nav-link {
    transition: all 0.7s ease;

}


.navbar-nav .nav-link:hover {
    background-color: #fff;
    border-radius: 10px;
    color: rgb(12, 12, 12) !important;
    transition: all 0.5s ease;

}

.card{
    transition: all 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.learnMore:hover { 
    background-color: #fff!important;
    color: #000 !important;
    transition: all 0.8s ease;

}

.startJourneyButton {
    background-color: black;
    color: white;
    transition: all 0.8s ease;
    padding: 2%;
}

.startJourneyButton:hover {
    background-color: white !important;
    color: black !important;
}

 .sidebar {
     height: 100vh;
     background-color: #1b1c1d;
     padding: 20px;
 }

 .sidebar .nav-link {
     color: white;
 }

 .sidebar .nav-link:hover {
     background-color: #495057;
 }





